USE [master]
GO
/****** Object:  Database [DBQuizSharp]    Script Date: 3/10/2019 11:58:33 AM ******/
CREATE DATABASE [DBQuizSharp]
GO
USE [DBQuizSharp]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 3/10/2019 11:58:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[term] [text] NOT NULL,
	[definition] [text] NOT NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Set_Study]    Script Date: 3/10/2019 11:58:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Set_Study](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Set_Study] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Set_Study_Quiz]    Script Date: 3/10/2019 11:58:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Set_Study_Quiz](
	[quiz_id] [int] NOT NULL,
	[set_study_id] [int] NOT NULL,
 CONSTRAINT [PK_Set_Study_Quiz] PRIMARY KEY CLUSTERED 
(
	[quiz_id] ASC,
	[set_study_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/10/2019 11:58:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[avatar_url] [nvarchar](max) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[dob] [date] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON 

INSERT [dbo].[Quiz] ([id], [term], [definition]) VALUES (1, N'Array', N'(n.) a large group of people or things')
INSERT [dbo].[Quiz] ([id], [term], [definition]) VALUES (2, N'environment', N'the natural')
INSERT [dbo].[Quiz] ([id], [term], [definition]) VALUES (3, N'habitat', N'A natural area where a plant or animal lives')
GO
SET IDENTITY_INSERT [dbo].[Quiz] OFF
SET IDENTITY_INSERT [dbo].[Set_Study] ON 

INSERT [dbo].[Set_Study] ([id], [user_id], [title], [createdDate]) VALUES (1, 1, N'IELTs 9.0', CAST(N'2019-03-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Set_Study] ([id], [user_id], [title], [createdDate]) VALUES (2, 1, N'IELTs 8.0', CAST(N'2019-03-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Set_Study] ([id], [user_id], [title], [createdDate]) VALUES (3, 2, N'IELTs 7.0', CAST(N'2019-04-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Set_Study] OFF
INSERT [dbo].[Set_Study_Quiz] ([quiz_id], [set_study_id]) VALUES (1, 1)
INSERT [dbo].[Set_Study_Quiz] ([quiz_id], [set_study_id]) VALUES (1, 34)
INSERT [dbo].[Set_Study_Quiz] ([quiz_id], [set_study_id]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [username], [password], [avatar_url], [email], [dob]) VALUES (1, N'nhattq', N'123456', N'1.jpg', N'demonslight@gmail.com', CAST(N'1998-09-20' AS Date))
INSERT [dbo].[User] ([id], [username], [password], [avatar_url], [email], [dob]) VALUES (2, N'hoapn', N'123456', N'2.jpg', N'thaycacac@gmail.com', CAST(N'1998-03-20' AS Date))
INSERT [dbo].[User] ([id], [username], [password], [avatar_url], [email], [dob]) VALUES (4, N'hiepdq', N'123456', N'3.jpg', N'bacodekiller@gmail.com', CAST(N'1997-02-05' AS Date))
SET IDENTITY_INSERT [dbo].[User] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_email]    Script Date: 3/10/2019 11:58:33 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Unique_email] ON [dbo].[User]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_User]    Script Date: 3/10/2019 11:58:33 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Unique_User] ON [dbo].[User]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Set_Study] ADD  CONSTRAINT [DF_Set_Study_createdDate]  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[Set_Study]  WITH CHECK ADD  CONSTRAINT [FK_Set_Study_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Set_Study] CHECK CONSTRAINT [FK_Set_Study_User]
GO
ALTER TABLE [dbo].[Set_Study_Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Set_Study_Quiz_Quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quiz] ([id])
GO
ALTER TABLE [dbo].[Set_Study_Quiz] CHECK CONSTRAINT [FK_Set_Study_Quiz_Quiz]
GO
ALTER TABLE [dbo].[Set_Study_Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Set_Study_Quiz_Set_Study] FOREIGN KEY([set_study_id])
REFERENCES [dbo].[Set_Study] ([id])
GO
ALTER TABLE [dbo].[Set_Study_Quiz] CHECK CONSTRAINT [FK_Set_Study_Quiz_Set_Study]
GO
USE [master]
GO
